<ion-view ng-controller="CreateReport">
    <ion-content class="padding">
        <form>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <input type="hidden" ng-model="report.EventID" placeholder="Event Name"/>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Short Content</span>
                    <input type="date" ng-model="report.RepShortContent" placeholder="Short Content"/>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Content</span>
                    <span style="color:red" id="msgEvtTime"></span>
                    <input type="time" ng-model="report.RepContent" placeholder="Content"/>
                </label>
                <button class="button button-positive" ng-click="createReport()" type="submit">Create Report</button>
            </div>
        </form>
    </ion-content>
</ion-view>
