<ion-modal-view ng-controller="AddEventCtrl">
    <div class="bar bar-header">
        <h1 class="title">Create New Event</h1>
    </div>
    <ion-content class="padding">
        <form name="myForm">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Name</span>
                    <input name="evtName" type="text" ng-model="eventData.EvtName" placeholder="Event Name" required/>
                    <span class="assertive" ng-show="myForm.evtName.$touched && myForm.evtName.$invalid">The name is required.</span>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Date</span>
                    <input type="date" ng-model="eventData.EvtDate" id="date" placeholder="MM/dd/YYYY" required/>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Time</span>
                    <input type="time" ng-model="eventData.EvtTime" placeholder="HH:ss" required/>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Organizer</span>
                    <input name="evtOrg" type="text" ng-model="eventData.EvtOrganizer" placeholder="Event Organizer" required/>
                    <span class="assertive" ng-show="myForm.evtOrg.$touched && myForm.evtOrg.$invalid">The organizer is required.</span>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Location</span>
                    <input name="evtLoc" id="pac-input" type="text" ng-model="eventData.EvtLocaTitle" placeholder="Event Location" required/>
                    <span class="assertive" ng-show="myForm.evtLoc.$touched && myForm.evtLoc.$invalid">The location is required.</span>
                </label>
                <div class="">
                  <div class="avatar">
                    <image ng-show="eventData.FeaImgUrl !== undefined" ng-src="{{eventData.FeaImgUrl}}"/>
                    <image ng-show="eventData.FeaImgUrl === undefined" ng-src="img/ionic.png"/>
                  </div>
                  <div class="">
                    <button class="button button-positive padding" ng-click="takePicture()" type="submit">Take Picture</button>
                    <button class="button button-positive padding" ng-click="doAddEvent()" type="submit">Create Event</button>
                  </div>
                </div>
                <!-- <span style="color:red" id="msgEvt">{{msg}}<br/></span> -->
                <!-- <button class="button button-positive" ng-click="doAddEvent()" type="submit">Create Event</button> -->
            </div>
        </form>
    </ion-content>
</ion-modal-view>
