<ion-view view-title="List Event" ng-controller="PlaylistsCtrl">
  <ion-header-bar class="bar-subheader item-input-inset bar bar-header">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchString"/>
    </label>
  </ion-header-bar>
  <ion-content>
    <div class="list" ng-repeat="event in playlists | filter:searchString">
      <div class="card card-gallery item item-text-wrap">
        <div class="" ui-sref="app.single({playlistId: {{event.EvtID}}})">
          <div class="dark-bg">
            <div class="padding evtName">
              <h2>{{event.EvtName}}</h2>
            </div>
            <img class="full-image padding" src="{{playlists[$index].FeaImgUrl}}"/>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left drak">
            <a class="tab-item stable-bg">
              <i class="icon ion-ios-location"></i> {{event.EvtLocaTitle}}<br/>
            </a>
            <a class="tab-item stable-bg positive-900">
              <i class="icon ion-calendar"></i> {{event.EvtDate}} at {{event.EvtTime}}<br/>
            </a>
            <a class="tab-item stable-bg positive-900">
              <i class="icon ion-ios-people"></i> {{event.EvtOrganizer}}<br/>
            </a>
          </div>
        </div>
        <div class="">
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item stable-bg" ui-sref="app.editEvent({playlistId: {{event.EvtID}}})">
              <i class="icon ion-edit balanced"></i>
            </a>
            <a class="tab-item stable-bg positive-900 assertive" ng-click="delete(event.EvtID)">
              <i class="icon ion-trash-a"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="addItems()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
