<ion-view view-title="Event">
  <ion-content>
    <div class="hero padding slide-up" style="background-image: url('img/newmaterial.jpg');">
      <div class="content" style="text-align: center;">
        <img class="avatar" src="{{event.FeaImgUrl}}"></img>
        <h3><a class="light">{{event.EvtName}}</a></h3>
        <h4><i class="icon ion-ios-location"></i> {{event.EvtLocaTitle}}</h4>
      </div>
    </div>
    <div class="row padding">
      <h4 class="content double-padding-x col col-50">Report</h4>
      <button type="button" class="button button-assertive" ui-sref="app.addreport({playlistId: {{ide}}})">
        <i class="icon ion-plus-round"></i> Add Report
      </button>
    </div>
    <div class="list animate-fade-slide-in-right">
      <div ng-repeat="report in listReport">
        <a ui-sref="app.friends" class="item item-avatar item-icon-right">
          <img src="img/logo.png">
          <!-- <img class="icon ion-document-text"> -->
          <h2>{{report.RepShortContent}}</h2>
          <p>{{report.RepContent}}</p>
          <i class="icon ion-document-text muted"></i>
        </a>
      </div>
      <!-- <a ui-sref="app.friends" class="item item-avatar item-icon-right">
        <img src="img/sansa.jpg">
        <h2>Sansa Stark</h2>
        <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
        <i class="icon ion-chatbubble muted"></i>
      </a>
      <a ui-sref="app.friends" class="item item-avatar item-icon-right">
        <img src="img/tyrion.jpg">
        <h2>Tyrion Lannister</h2>
        <p>B.A.M.F. imp</p>
        <i class="icon ion-chatbubble muted"></i>
      </a> -->
    </div>
  </ion-content>
</ion-view>
