<ion-modal-view ng-controller="PlaylistsCtrl">
    <div class="bar bar-header">
        <h1 class="title">Edit Event</h1>
    </div>
    <ion-content class="padding">
        <form>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Name</span>
                <input type="text" ng-model="event.EvtName" placeholder="Event Name" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Date</span>
                <input type="Date" ng-model="event.EvtDate" placeholder="MM/dd/YYYY" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Time</span>
                <input type="time" ng-model="event.EvtTime" placeholder="Event Time" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Organizer</span>
                <input type="text" ng-model="event.EvtOrganizer" placeholder="Event Organizer" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Location</span>
                <input id="pac-input" type="text" ng-model="event.EvtLocaTitle" placeholder="Event Location" required/>
            </label>
            <button class="button button-positive" ng-click="edit()" type="submit">Save Change</button>
        </form>
    </ion-content>
</ion-modal-view>
