<ion-view view-title="Event">
    <ion-content>
        <div class="hero padding slide-up" style="background-image: url('img/newmaterial.jpg');">
            <div class="content" style="text-align: center;">
                <img class="avatar" src="{{event.FeaImgUrl}}"></img>
                <h3><a class="light">{{event.EvtName}}</a></h3>
                <h4><i class="icon ion-ios-location"></i> {{event.EvtLocaTitle}}</h4>
            </div>
        </div>
        <div class="row padding">
            <h4 class="content double-padding-x col col-50">Report</h4>
            <button type="button" class="button button-assertive">
            <i class="icon ion-plus-round"></i> Add Report
          </button>
        </div>
        <ion-list>
            <div class="list animate-fade-slide-in-right">
                <ion-item ng-repeat="report in listReport">
                    <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                        <img src="img/jon-snow.jpg">
                        <h2>{{report.EventID}}</h2>
                        <p>{{report.RepShortContent}}</p>
                        <i class="icon ion-chatbubble muted"></i>
                    </a>
                </ion-item>
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </ion-list>
        <!--<ion-tabs class="tabs tabs-dark tabs-icon-top static">
            <ion-tab href="#//app/playlists/" title="Report" class="tab-item" icon-on="icon ion-android-clipboard" icon-off="ion-ios-filing-outline">

                <ion-nav-view name="about-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab class="tab-item" title="Create Report" icon-on="icon ion-android-add" icon-off="ion-ios-filing-outline">

                <ion-content class="padding">
                    <form>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Event Name</span>
                            <input type="text" ng-model="eventData.EvtName" placeholder="Event Name" required/>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Event Date</span>
                            <input type="date" ng-model="eventData.EvtDate" placeholder="Event Date" required/>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Event Time</span>
                            <input type="time" ng-model="eventData.EvtTime" placeholder="Event Time" required/>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Event Organizer</span>
                            <input type="text" ng-model="eventData.EvtOrganizer" placeholder="Event Organizer" required/>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Event Location</span>
                            <input id="pac-input" type="text" ng-model="eventData.EvtLocaTitle" placeholder="Event Location" required/>
                        </label>
                        <span style="color:red" id="msgEvt"></span>
                        <button class="button button-positive" ng-click="editEvent()" type="submit">Create Event</button>
                    </form>
                </ion-content>
            </ion-tab>
            <ion-tab class="tab-item" title="Edit Event" icon-on="icon ion-android-create" icon-off="ion-ios-filing-outline">

            </ion-tab>
            <ion-tab class="tab-item" title="Delete Event" icon-on="icon ion-trash-a" icon-off="ion-ios-filing-outline">

            </ion-tab>
        </ion-tabs>-->
    </ion-content>
    <!--<footer>
        <div class="bar bar-footer bar-energized-100">
            <div class="title">Footer</div>
            <div class="buttons buttons-right">
                <button class="button button-energized-900">
                    <strong class="balanced-900 bold balanced-100-bg">button-fab</strong>
                    <i class="icon ion-code light"></i>
                </button>
            </div>
        </div>
    </footer>-->
</ion-view>
