<h4 class="content padding double-padding-x">Report</h4>
                <ion-list>
                    <div class="list animate-fade-slide-in-right">
                        <ion-item ng-repeat="report in listReport">
                            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                                <img src="img/jon-snow.jpg">
                                <h2>{{report.EventID}}</h2>
                                <p>{{report.RepShortContent}}</p>
                                <i class="icon ion-chatbubble muted"></i>
                            </a>
                        </ion-item>
                        <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                            <img src="img/sansa.jpg">
                            <h2>Sansa Stark</h2>
                            <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                            <i class="icon ion-chatbubble muted"></i>
                        </a>
                        <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                            <img src="img/tyrion.jpg">
                            <h2>Tyrion Lannister</h2>
                            <p>B.A.M.F. imp</p>
                            <i class="icon ion-chatbubble muted"></i>
                        </a>
                    </div>
                </ion-list>