<ion-view ng-controller="PlaylistsCtrl">
    <ion-content class="padding">
      <div class="row">
        <h4 class="content double-padding-x"><strong>Event Name: </strong><i>{{event.EvtName}}</i></h4>
      </div>
        <form name="rstForm">
            <div class="list">
                <!-- <label class="item item-input item-floating-label">
                    <input type="hidden" ng-model="report.EventID" placeholder="Event Name"/>
                </label> -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Title</span>
                    <input type="text" name="shortContent" ng-model="report.RepShortContent" placeholder="Title" required/>
                    <span class="assertive" ng-show="rstForm.shortContent.$touched && rstForm.shortContent.$invalid">The short content is required.</span>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Content</span>
                    <textarea name="content" placeholder="Content" ng-model="report.RepContent" required></textarea>
                    <span class="assertive" ng-show="rstForm.content.$touched && rstForm.content.$invalid">The content is required.</span>
                </label>
              <div class="">

              </div>
                <button class="button button-positive" ng-click="createReport()" type="submit">Create Report</button>
            </div>
        </form>
    </ion-content>
</ion-view>
