<ion-view ng-controller="PlaylistsCtrl" title="Edit Event">
    <div class="bar bar-header">
        <h1 class="title">Edit Event</h1>
    </div>
    <ion-content class="padding">
        <form class="edit">
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Name</span>
                <input type="text" ng-model="event.EvtName" placeholder="Event Name" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Date</span>
                <input type="Date" ng-model="event.EvtDate" placeholder="MM/dd/YYYY" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Time</span>
                <input type="time" ng-model="event.EvtTime" placeholder="HH:ss" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Organizer</span>
                <input type="text" ng-model="event.EvtOrganizer" placeholder="Event Organizer" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Location</span>
                <input id="pac-input" type="text" ng-model="event.EvtLocaTitle" placeholder="Event Location" required/>
            </label>
            <div class="image">
              <div class="avatar img padding">
                <!-- <image ng-src="{{event.FeaImgUrl}}"/> -->
                <image ng-show="event.FeaImgUrl !== undefined" ng-src="{{event.FeaImgUrl}}"/>
                <image ng-show="event.FeaImgUrl === undefined" ng-src="img/event1.png"/>
              </div>
                <button class="button button-positive" ng-click="takePicture()" type="submit">Take Picture</button>
                <button class="button button-positive" ng-click="edit()" type="submit">Save Change</button>
            </div>
            <!-- <button class="button button-positive" ng-click="edit()" type="submit">Save Change</button> -->
        </form>
    </ion-content>
</ion-view>
