<h4 class="content padding double-padding-x">Report</h4>
<ion-list>
  <div class="list animate-fade-slide-in-right">
    <ion-item ng-repeat="report in listReport">
      <a ui-sref="app.friends" class="item item-avatar item-icon-right">
        <img src="img/jon-snow.jpg">
        <h2>{{report.EventID}}</h2>
        <p>{{report.RepShortContent}}</p>
        <i class="icon ion-chatbubble muted"></i>
      </a>
    </ion-item>
  </div>
</ion-list>
